.faqitem-container{
    width : 600px ;
    height : 200px ;
    background-color: rgb(252, 244, 140 , 0.5) ;
    margin-bottom : 15px ;
    margin-top : 50px ;
    border-radius: 2% ;
    border : 1px solid #FFB900;
    display: flex;
    flex-direction: column;
}

.faq-header{
    
}