.question-container{
    width : 100% ;
    min-height: 2000px;
    background-color : rgba(255, 251, 197, 0.104) ;
    align-items: center;
    margin : auto ;
    display: flex;
    flex-direction: column;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    vertical-align : middle;
}

.master-div{
    position : relative !important ;
}

.question-box{
    position : relative !important ;
    width : 600px ;
    min-height : 200px ;
    background-color: rgb(255, 251, 193) ;
    margin-bottom : 15px ;
    margin-top : 50px ;
    border-radius: 2% ;
    border : 1px solid #FFB900;
    display: flex;
    flex-direction: column;
}

.moving-dough{
    position : absolute !important ;
    height: 65%;
    width : 30% ;
    background : url("../../assets/images/dough4.png") no-repeat;
    background-size: contain;
    top : 25% ;
    right : 0vh ;
    z-index : -1 ;
    animation: spin-right 5s linear infinite;
}

.moving-dough-left{
    position : absolute !important ;
    height: 65%;
    width : 30% ;
    background : url("../../assets/images/dough4.png") no-repeat;
    background-size: contain;
    top : 25% ;
    left : 0vh ;
    z-index: -1;
    animation: spin-left 5s linear infinite;
}

.question-heading{
    cursor: default;
    font-family: 'Kalam', cursive;
    font-size : 1.5rem ;
    margin-bottom : 20px !important ;
    color :#A40000 ;
    margin-left : 15px ;
    margin-top : 5px ;
}

.horizontal-line{
    height: 2px ;
}

.answer-span{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 2;
    margin-left : 5px ;
    margin-right : 5px ;
    margin-bottom : 5px ;
}

@keyframes spin-right{
    50% {
        transform: translate(8.5rem, -1.5rem) rotate(45deg);
    }
    100% {
        transform: translate(-8.5rem, 0.5rem) rotate(-45deg);
    }
}

@keyframes spin-left{
    50% {
        transform: translate(-8.5rem, 1.5rem) rotate(-45deg);
    }
    100% {
        transform: translate(8.5rem, 0.5rem) rotate(45deg);
    }
}