.end-container{
    width : 100% ;
    padding-bottom : 30px ;
    background-color :  rgb(255, 218, 142 , 0.3);
    justify-content: center;
    margin : auto ;
    display: flex;
    flex-wrap: wrap;
}