
.discordButton{
    display: flex;
    width : 400px ;
    height: 50px;
    background-color: #5865f2;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    color : #FFFF ;
    text-decoration: none;
    font-family: Nunito,sans-serif;
    font-size: 20px;
    margin-bottom : 10px ;
}

.twitterButton{
    display: flex;
    width : 400px ;
    height: 50px;
    background-color: #51037e;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    color : #FFFF ;
    text-decoration: none;
    font-family: Nunito,sans-serif;
    font-size: 20px;
    margin-bottom : 10px ;
}

.discordButton::before{
    content : "";
    margin-right: 10px;
    margin-top : 1px ;
    height: 30px;
    width: 30px;
    background : url("../../assets/images/Discord-Logo-White.svg") ;
    background-size: 30px;
    background-repeat: no-repeat;
}

.twitterButton::before{
    content : "";
    margin-right: 10px;
    margin-top : 1px ;
    height: 30px;
    width: 30px;
    background : url("../../assets/images/twitter-logo-white.png") ;
    background-size: 30px;
    background-repeat: no-repeat;

}

 
.button-div{
    position:absolute ;
    max-width : 400px ;
    max-height: 100px ;
    width: 100%;
    height: 100%;
    top : 5% ;
    right: 5% ;
}