.faq-container{
    width : 100% ;
    background-color : rgba(255, 251, 197, 0.104) ;
    justify-content: center;
    align-items: center;
    margin : auto ;
    display: flex;
    flex-direction: column;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    vertical-align : middle;
}

.faq-header{
    margin-top : 30px ;
    cursor: default;
    font-family: 'Kalam', cursive;
    font-size : 4rem ;
    margin-bottom : 20px !important ;
    color :#FFB900 ;
    text-shadow :

    /* 3d layers */

    0px 0px 1px #A40000 ,
    0px 1px 1px #A40000,
    0px 2px 1px #A40000 ,

    1px 1px 1px #A40000 ,
    1px 2px 1px #A40000 ,
    1px 3px 1px #A40000;
}

.faq-container-1{
}

.faq-container-2{
}

.faq-container-3{
}

.faq-container-4{
}

.faq-container-5{
}

.faq-container-6{
}

.faq-container-8{
}

.dough-animation{
    position : relative ;
    z-index : -1 ;
    top : -8vh ;
    left: 30vh;
    height: 150px;
    width: 150px;
    background-color: blue;
}

@media screen and (max-width : 500px){
    .faq-header{
        font-size: 7vh ;
    }
}