.about-container{
    width : 100% ;
    min-height: 980px;
    background-color : rgba(255, 251, 197, 0.075) ;
    justify-content: center;
    margin : auto ;
    display: flex;
    flex-wrap: wrap-reverse;
    padding-top : 150px ;
}

.text-container{
    width : 50% ;
    min-height : 500px ;
}

.image-container{
    width : 25% ;
    height : 80% ;
    margin-left: 25px ;
    display: flex;
    flex-direction: column;
}

.heading-1{
    cursor: default;
    font-family: 'Kalam', cursive;
    font-size : 4rem ;
    margin-bottom : 20px !important ;
    color :#FFB900 ;
    text-shadow :

    /* 3d layers */

    0px 0px 1px #A40000 ,
    0px 1px 1px #A40000,
    0px 2px 1px #A40000 ,

    1px 1px 1px #A40000 ,
    1px 2px 1px #A40000 ,
    1px 3px 1px #A40000;

}

.img-cont{
  height : 400px ;
  width: 400px;
  background : url("../../assets/images/SolDoughOut.png") no-repeat;
  background-size: contain;
  justify-content: center;
  margin : auto ;
  display: flex;
  flex-direction: row;
  border-radius: 2%;

  box-shadow :

    /* 3d layers */

  0px 0px 1px #A40000 ,
  0px 1px 1px #A40000,
  0px 2px 1px #A40000 ,

  1px 1px 1px #A40000 ,
  1px 2px 1px #A40000 ,
  1px 3px 1px #A40000;

}