.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.item-1{
    display : flex ;
    flex-direction: row ;
}

.image-div-glass{
    margin : auto ;
    width : 200px ;
    height: 200px ;
    background-image : url("../../assets/images/mag-glass.png") ;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-div-angel{
    margin : auto ;
    width: 200px ;
    height: 200px ;
    background-image : url("../../assets/images/angel.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-div-light{
    margin: auto ;
    width: 200px ;
    height: 200px ;
    background-image : url("../../assets/images/light.png") ;
    background-size: contain;
    background-repeat: no-repeat;
}

.text-div-quest{
    margin : auto ;
    width: 200px ;
    height: 200px ;
    background-image : url("../../assets/images/question-mark.png") ;
    background-size: contain;
    background-repeat: no-repeat;
}

.timeline-container{
    background-color : rgba(255, 251, 197, 0.075) ;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    vertical-align : middle;

    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

.timeline-header{
    cursor: default;
    font-family: 'Kalam', cursive;
    font-size : 4rem ;
    margin-bottom : 20px !important ;
    color :#FFB900 ;
    text-shadow :

    /* 3d layers */

    0px 0px 1px #A40000 ,
    0px 1px 1px #A40000,
    0px 2px 1px #A40000 ,

    1px 1px 1px #A40000 ,
    1px 2px 1px #A40000 ,
    1px 3px 1px #A40000;

    margin-bottom : 15px ;
}
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #A40000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
  }
  
  .container.left {
    left: 0;
  }
  
  .container.right {
    left: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid #A40000;
    border-radius: 16px;
    z-index: 1;
  }
  
  .container.right::after {
    left: -8px;
  }
  
  .container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #A40000;
    z-index: 1;
  }
  
  .container.right::before {
    left: 8px;
  }
  
  .container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #006E51;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }
  
  .container.left .date {
    right: -75px;
  }
  
  .container.right .date {
    left: -75px;
  }
  
  .container .icon {
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 5px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #f65555;
    border: 2px solid #006E51;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    z-index: 1;
  }
  
  .container.left .icon {
    right: 56px;
  }
  
  .container.right .icon {
    left: 56px;
  }
  
  .container .content {
    padding: 30px 90px 30px 30px;
    position: relative;
    border-radius: 0 500px 500px 0;
    border : 1px solid #FFB900  ;
  }
  
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
  
  @media (max-width: 767.98px) {
    .timeline::after {
      left: 90px;
    }
  
    .container {
      width: 100%;
      padding-left: 120px;
      padding-right: 30px;
    }
  
    .container.right {
      left: 0%;
    }
  
    .container.left::after, 
    .container.right::after {
      left: 82px;
    }
  
    .container.right::before {
      left: 100px;
      border-color: transparent #006E51 transparent transparent;
    }
  
    .container.left .date,
    .container.right .date {
      right: auto;
      left: 15px;
    }
  
    .container.left .icon,
    .container.right .icon {
      right: auto;
      left: 146px;
    }
  
    .container.left .content,
    .container.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
    }

  }